[Desktop Entry]
Encoding=UTF-8
Name=Link to Quora Insincere Questions Classification | Kaggle
Type=Link
URL=https://www.kaggle.com/c/quora-insincere-questions-classification/notebooks?competitionId=10737&sortBy=dateRun&tab=profile
Icon=text-html
